.notification {
  width: 100vw;
  height: 6vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  color: #fefefe;
}

.loading {
  background-color: rgba(16, 16, 87, 1);
}

.success {
  background-color: rgba(32, 100, 32, 1);
}

.error {
  background-color: rgb(82, 21, 21);
}
